*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar { 
    background-color: white;
}
.nav-link{
    color:black;
   font-size: 1rem;
   font-weight: 700;
   text-decoration: none;
}
.nav-link:hover{
    color: white;
    background-color: black;


}
.navbar-brand {
    font-size: 1.25rem; 
    font-weight: 800;
    color: black;
    cursor: pointer;
}

/*  main */

.main{ 
    background: url(../img/sinai.png) no-repeat right center; /* evaluar s quitar o poner la image */ 
    background-size: contain; /* Asegura que la imagen se ajuste sin distorsión */
    width: 100%; /* La sección ocupa todo el ancho del viewport */
    height: 80vh; /* La sección ocupa toda la altura del viewport */
    display: flex; /* Utiliza Flexbox para organizar el contenido */
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: left; /* Alinea el contenido textual a la izquierda */
    padding: 0 2rem; /* Espaciado interno para evitar que el contenido quede pegado */

}

.main h3 {
    font-size: 4.4rem;
    font-weight: 700;


}
 .main h6 {
    font-size: 1.2rem;
    text-transform: uppercase;
    line-height: 1;
    border-bottom: 3px solid rgb(230, 52, 112);
    width:100% ;
 }

 .main .btn { 
    height: 55px;
    width: 138px;
    background-color: #e63470;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
 }

 .main .btn:hover {

    background-color: rgb(225, 37, 100);
    transition: 0.5s;
    

 }


 .about-title {
  font-size: 2.5rem; 
  font-weight: bold; 
  margin-bottom: 0.5rem; 
  color: #000; 

 }
 .about-subtitle {
    font-size: 1.25rem; 
    font-weight: 400; 
    text-transform: uppercase;
    letter-spacing: 0.1rem; 
    margin-bottom: 1rem; 
    color: #555; 
 }




 .image-container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    
 }

 .image-container img {
    
    width: 400px;
    height: auto;
    object-fit: cover;
 }

 .text-container {
    margin-left: 40px;
    max-width: 100%;
    flex: 1;
 }

 

 .text-container p {
  font-size: 1rem; 
  line-height: 1.6; 
  color: #333; 
 }

 
.about-experiencia {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 2rem; 
    font-weight: bold;
    color: #000; 

}

.experience li {
    margin-bottom: 0.5rem; 
  }

  .place {
    font-size: 1rem;
    font-style: italic;
  }

  .about {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  .info {
    display: flex; 
    flex-direction: column; 
    align-items: start;  
    padding: 1rem; 
    font-weight: bold;
    color: #000; 
    text-transform: uppercase;
  }

  .cursos {
    font-size: 1.62rem }

  .text-center {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 2rem; 
    font-weight: bold;
    color: #000; 

  }

  .logo {
    
    margin: 5px;
  }

  
  a {
    
    text-decoration: none;
}


  .card {
    border: none;
    outline: none;
    height: 200px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
  }
  

